
h1{
    padding: 20px;
    color: blue; background-color:darkgray
}
.shashi{
    color: chocolate;
}
body{
    background-color: antiquewhite;
    padding: 20px;
}
.Shashi{
    position: relative;
    right: 400px;   
}


