nav div{
    display: inline-block;
    width: 49%;
}
nav div h1{
    margin-left: 100px;
    color: darkblue;
}
.div2{
    text-align: end;
    color: brown;
}
nav div a{
    margin-left: 80px;
    text-decoration: none;
}
nav div a:hover{
    color: black;
    text-decoration: underline;
}
nav div h1 i{
    white-space: 2%;
}
nav{
    background-color: aqua;
    padding: 10px;
}
.nav2{
    display: inline-block;
    width: 49%;
}
body{
    background-color: bisque;
}
body {
    margin: 0%;
    padding: 0%;
}
.Shashi{
    width: 80%;
    margin: auto;
}
.Shashi div{
    display:inline-block ;
    width: 40%;
    margin-bottom: 30px;
}
.image{
text-align: end;
margin-top: 50px;
}
.image img{
    border-radius: 70%;
}
.text{
    margin-left: 50px;
    font-size: large;
}
 .Shashi button{
    border: none;
   background-color:indianred;
   padding: 6px;
   border-radius: 6px;
   opacity: 0.8;
}
.Shashi button:hover{
    opacity: 1;
}
.about{
    margin-left: 30px;
}
.Container{
width: 80%;
margin: auto;
}
.Educ{
    width: 80%;
    margin: auto;
}
.Educ div{
    width: 80%;
    margin: auto;
}
.Lang{
    width: 80%;
    margin: auto;
}
.sub h1{
width: 80%;
margin: auto;
color:darkblue;
}
.Educ div h1{
    color: darkblue;
}
.Container h1{
    color:darkblue;
}
.courc{
    color:brown;
}
.skil{
    padding-left:30px ;
    margin-bottom:30px;
}
.scard{
    display:inline-block;
    width:10%;
    text-align: center;
    padding: 10px;
    background-color:#B0A695;
    margin-left: 5%;
    margin-bottom: 40px;
    border-radius: 5%;
    color: blue;
}
.scard img{
    margin-top: 25px;
}
.scard h4{
    text-align: center;
    margin-top: 10px;
    margin-left: 0px;
}
   
.scard :hover{
    color: black;
    text-decoration: underline;
}
.project{
    margin-bottom: 30px;
    width: 80%;
    margin: auto;
}
#pro1{
    margin-left: 40px;
    margin-bottom: 30px;
}
.todo{
    display: inline-block;
    width: 35%;
    text-align: center;
    background-color:#E0F4FF;
    margin-left:7%;
    margin-right: 7%;
}
.imge{
    display:inline-block;
    width: 49%;
}
.end{
    text-align: end;

}
.imge img{
    padding: 20px;
    opacity: 0.5;
}
.foot{
    margin-bottom: 3%;
}
.foot h2{
    margin-top: 60px;
}
.foot p{
    margin-left: 5%;
}
html{
    scroll-behavior: smooth;
}
.imge img:hover{
    opacity: 1;
}
.foot h2{
    margin-left: 40px;
}


    
